footer#footer.overflow-hidden.padding-large.pb-0
  .container
    .row.d-flex.flex-wrap.justify-content-between
      .col-lg-4.col-md-6.col-sm-6.pb-3
        .footer-menu
          img.pb-3(src='images/main-logo.png' alt='logo')
          p
            | Elit adipi massa diam in dignissim. Sagittis pulvinar ut dis venenatis nunc nunc.
          .contact-item
            p
              svg.location.primary-color(width='25' height='25')
                use(xlink:href='#location')
              span 123 Arling, Miola, NY
            p
              svg.email.primary-color(width='25' height='25')
                use(xlink:href='#email')
              a(href='mailto:') Info@yourinfo.com
            p
              svg.phone.primary-color(width='25' height='25')
                use(xlink:href='#phone')
              span (+487) 384 9452
            ul.social-links.list-unstyled.d-flex.mt-3
              li
                a(href='#')
                  svg.facebook.text-primary-500.me-3(width='25' height='25')
                    use(xlink:href='#facebook')
              li
                a(href='#')
                  svg.twitter.text-primary-500.me-3(width='25' height='25')
                    use(xlink:href='#twitter')
              li
                a(href='#')
                  svg.instagram.text-primary-500.me-3(width='25' height='25')
                    use(xlink:href='#instagram')
              li
                a(href='#')
                  svg.youtube.text-primary-500.me-3(width='25' height='25')
                    use(xlink:href='#youtube')
              li
                a(href='#')
                  svg.linkedin.text-primary-500(width='25' height='25')
                    use(xlink:href='#linkedin')
      .col-lg-4.col-md-6.col-sm-6.pb-3
        .footer-menu
          h5.widget-title.pb-2.fw-semibold Quick Links
          ul.menu-list.list-unstyled
            li.pb-2
              a(href='#intro') Home
            li.pb-2
              a(href='#about-us') About
            li.pb-2
              a(href='#our-services') Services
            li.pb-2
              a(href='#book-appointment') Booking
            li.pb-2
              a(href='#testimonial') Testimonial
            li.pb-2
              a(href='#our-team') Our Team
            li.pb-2
              a(href='#faqs') Faqs
            li.pb-2
              a(href='#department') Department
            li.pb-2
              a(href='#latest-blog') Blog
      .col-lg-4.col-md-6.col-sm-6.pb-3
        .footer-menu
          h5.widget-title.fw-semibold Opening Hours
          table.schedule
            tr.d-flex.justify-content-between.border-bottom.py-2
              td Monday - Thursday
              td.text-primary 8:00 am - 6:00 pm
            tr.d-flex.justify-content-between.border-bottom.py-2
              td Friday - Saturday
              td.text-primary 10:00 am - 4:00 pm
            tr.d-flex.justify-content-between.border-bottom.py-2
              td Sunday
              td.text-primary Emergency only
            tr.d-flex.justify-content-between.border-bottom.py-2
              td Personal
              td.text-primary 7:00 pm - 9:00 pm
    .d-md-flex.text-center.justify-content-between.border-top.mt-5.py-4
      p &copy; 2023 Insove - All rights reserved
      p
        | Free HTML Templates by: 
        a.fw-semibold(href='https://templatesjungle.com/')  TemplatesJungle