
extends ../../layouts/default.pug

block main 
  sidebar.sidebar
    .sidebar-inner.slimscroll
      .sidebar-menu
        ul
          li
            a(href='/admin/dashboard')
              i.fa.fa-home.back-icon
              span Back to Home
          li.menu-title
            | Chat Groups 
            a.add-user-icon(href='#' data-toggle='modal' data-target='#add_group')
              i.fa.fa-plus
          li
            a(href='chat.html') #General
          li
            a(href='chat.html') #Video Responsive Survey
          li
            a(href='chat.html') #500rs
          li
            a(href='chat.html') #warehouse
          li.menu-title
            | Direct Chats 
            a.add-user-icon(href='#' data-toggle='modal' data-target='#add_chat_user')
              i.fa.fa-plus
          li
            a(href='chat.html')
              span.chat-avatar-sm.user-img
                img.rounded-circle(src='assets/img/user.jpg' alt='')
                span.status.online
              |  John Doe 
              span.badge.badge-pill.bg-danger.float-right 1
          li
            a(href='chat.html')
              span.chat-avatar-sm.user-img
                img.rounded-circle(src='assets/img/user.jpg' alt='')
                span.status.offline
              |  Richard Miles 
              span.badge.badge-pill.bg-danger.float-right 18
          li
            a(href='chat.html')
              span.chat-avatar-sm.user-img
                img.rounded-circle(src='assets/img/user.jpg' alt='')
                span.status.away
              |  John Smith
          li.active
            a(href='chat.html')
              span.chat-avatar-sm.user-img
                img.rounded-circle(src='assets/img/user.jpg' alt='')
                span.status.online
              |  Jennifer 
              span.badge.badge-pill.bg-danger.float-right 108
  .main-wrapper
    .page-wrapper
      .chat-main-row
        .chat-main-wrapper
          .col-lg-9.message-view.chat-view
            .chat-window
              .fixed-header
                .navbar
                  .user-details.mr-auto
                    .float-left.user-img.m-r-10
                      a(href='profile.html' title='Jennifer Robinson')
                        img.w-40.rounded-circle(src='assets/img/patient-thumb-02.jpg' alt='')
                        span.status.online
                    .user-info.float-left
                      a(href='profile.html')
                        span.font-bold Jennifer Robinson
                        i.typing-text Typing...
                      span.last-seen Last seen today at 7:50 AM
                  .search-box
                    .input-group.input-group-sm
                      input.form-control(type='text' placeholder='Search')
                      span.input-group-append
                        button.btn(type='button')
                          i.fa.fa-search
                  ul.nav.custom-menu
                    li.nav-item
                      a#task_chat.nav-link.task-chat.profile-rightbar.float-right(href='#chat_sidebar')
                        i.fa.fa-user
                    li.nav-item
                      a.nav-link(href=`/${prefixAdmin}/chat/call`)
                        i.fa.fa-phone
                    li.nav-item
                      a.nav-link(href=`/${prefixAdmin}/chat/video`)
                        i.fa.fa-video-camera
                    li.nav-item.dropdown.dropdown-action
                      a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
                        i.fa.fa-cog
                      .dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href='javascript:void(0)') Delete Conversations
                        a.dropdown-item(href='javascript:void(0)') Settings
              .chat-contents
                .chat-content-wrap
                  .chat-wrap-inner
                    .chat-box
                      .chats
                        .chat.chat-right
                          .chat-body
                            .chat-bubble
                              .chat-content
                                p Hello. What can I do for you?
                                span.chat-time 8:30 am
                        .chat-line
                          span.chat-date October 8th, 2015
                        .chat.chat-left
                          .chat-avatar
                            a.avatar(href='profile.html')
                              img.img-fluid.rounded-circle(alt='Jennifer Robinson' src='assets/img/patient-thumb-02.jpg')
                          .chat-body
                            .chat-bubble
                              .chat-content
                                p I&apos;m just looking around.
                                p Will you tell me something about yourself? 
                                span.chat-time 8:35 am
                            .chat-bubble
                              .chat-content
                                p Are you there? That time!
                                span.chat-time 8:40 am
                        .chat.chat-right
                          .chat-body
                            .chat-bubble
                              .chat-content
                                p Where?
                                span.chat-time 8:35 am
                            .chat-bubble
                              .chat-content
                                p OK, my name is Limingqiang. I like singing, playing basketballand so on.
                                span.chat-time 8:42 am
                        .chat.chat-left
                          .chat-avatar
                            a.avatar(href='profile.html')
                              img.img-fluid.rounded-circle(alt='Jennifer Robinson' src='assets/img/patient-thumb-02.jpg')
                          .chat-body
                            .chat-bubble
                              .chat-content
                                p You wait for notice.
                                span.chat-time 8:30 am
                            .chat-bubble
                              .chat-content
                                p Consectetuorem ipsum dolor sit?
                                span.chat-time 8:50 am
                            .chat-bubble
                              .chat-content
                                p OK?
                                span.chat-time 8:55 am
                            .chat-bubble
                              .chat-content.img-content
                                .chat-img-group.clearfix
                                  p Uploaded 3 Images
                                  a.chat-img-attach(href='#')
                                    img(width='182' height='137' alt='' src='assets/img/placeholder.jpg')
                                    .chat-placeholder
                                      .chat-img-name placeholder.jpg
                                      .chat-file-desc 842 KB
                                  a.chat-img-attach(href='#')
                                    img(width='182' height='137' alt='' src='assets/img/placeholder.jpg')
                                    .chat-placeholder
                                      .chat-img-name 842 KB
                                  a.chat-img-attach(href='#')
                                    img(width='182' height='137' alt='' src='assets/img/placeholder.jpg')
                                    .chat-placeholder
                                      .chat-img-name placeholder.jpg
                                      .chat-file-desc 842 KB
                                span.chat-time 9:00 am
                        .chat.chat-right
                          .chat-body
                            .chat-bubble
                              .chat-content
                                p OK!
                                span.chat-time 9:00 am
                        .chat.chat-left
                          .chat-avatar
                            a.avatar(href='profile.html')
                              img.img-fluid.rounded-circle(alt='Jennifer Robinson' src='assets/img/patient-thumb-02.jpg')
                          .chat-body
                            .chat-bubble
                              .chat-content
                                p Uploaded 3 files
                                ul.attach-list
                                  li
                                    i.fa.fa-file
                                    a(href='#') example.avi
                                  li
                                    i.fa.fa-file
                                    a(href='#') activity.psd
                                  li
                                    i.fa.fa-file
                                    a(href='#') example.psd
                            .chat-bubble
                              .chat-content
                                p Consectetuorem ipsum dolor sit?
                                span.chat-time 8:50 am
                            .chat-bubble
                              .chat-content
                                p OK?
                                span.chat-time 8:55 am
                        .chat.chat-right
                          .chat-body
                            .chat-bubble
                              .chat-content.img-content
                                .chat-img-group.clearfix
                                  p Uploaded 6 Images
                                  a.chat-img-attach(href='#')
                                    img(width='182' height='137' alt='' src='assets/img/placeholder.jpg')
                                    .chat-placeholder
                                      .chat-img-name placeholder.jpg
                                      .chat-file-desc 842 KB
                                  a.chat-img-attach(href='#')
                                    img(width='182' height='137' alt='' src='assets/img/placeholder.jpg')
                                    .chat-placeholder
                                      .chat-img-name 842 KB
                                  a.chat-img-attach(href='#')
                                    img(width='182' height='137' alt='' src='assets/img/placeholder.jpg')
                                    .chat-placeholder
                                      .chat-img-name placeholder.jpg
                                      .chat-file-desc 842 KB
                                  a.chat-img-attach(href='#')
                                    img(width='182' height='137' alt='' src='assets/img/placeholder.jpg')
                                    .chat-placeholder
                                      .chat-img-name placeholder.jpg
                                      .chat-file-desc 842 KB
                                  a.chat-img-attach(href='#')
                                    img(width='182' height='137' alt='' src='assets/img/placeholder.jpg')
                                    .chat-placeholder
                                      .chat-img-name placeholder.jpg
                                      .chat-file-desc 842 KB
                                  a.chat-img-attach(href='#')
                                    img(width='182' height='137' alt='' src='assets/img/placeholder.jpg')
                                    .chat-placeholder
                                      .chat-img-name placeholder.jpg
                                      .chat-file-desc 842 KB
                                span.chat-time 9:00 am
                        .chat.chat-left
                          .chat-avatar
                            a.avatar(href='profile.html')
                              img.img-fluid.rounded-circle(alt='Jennifer Robinson' src='assets/img/patient-thumb-02.jpg')
                          .chat-body
                            .chat-bubble
                              .chat-content
                                ul.attach-list
                                  li.pdf-file
                                    i.fa.fa-file-pdf-o
                                    a(href='#') Document_2016.pdf
                                span.chat-time 9:00 am
                        .chat.chat-right
                          .chat-body
                            .chat-bubble
                              .chat-content
                                ul.attach-list
                                  li.pdf-file
                                    i.fa.fa-file-pdf-o
                                    a(href='#') Document_2016.pdf
                                span.chat-time 9:00 am
                        .chat.chat-left
                          .chat-avatar
                            a.avatar(href='profile.html')
                              img.img-fluid.rounded-circle(alt='Jennifer Robinson' src='assets/img/patient-thumb-02.jpg')
                          .chat-body
                            .chat-bubble
                              .chat-content
                                p Typing ...
              .chat-footer
                .message-bar
                  .message-inner
                    a.link.attach-icon(href='#' data-toggle='modal' data-target='#drag_files')
                      img(src='assets/img/attachment.png' alt='')
                    .message-area
                      .input-group
                        textarea.form-control(placeholder='Type message...')
                        span.input-group-append
                          button.btn.btn-primary(type='button')
                            i.fa.fa-send
          #chat_sidebar.col-lg-3.message-view.chat-profile-view.chat-sidebar
            .chat-window.video-window
              .fixed-header
                ul.nav.nav-tabs.nav-tabs-bottom
                  li.nav-item
                    a.nav-link(href='#calls_tab' data-toggle='tab') Calls
                  li.nav-item
                    a.nav-link.active(href='#profile_tab' data-toggle='tab') Profile
              .tab-content.chat-contents
                #calls_tab.content-full.tab-pane
                  .chat-wrap-inner
                    .chat-box
                      .chats
                        .chat.chat-left
                          .chat-avatar
                            a.avatar(href='profile.html')
                              img.img-fluid.rounded-circle(alt='Cristina Groves' src='assets/img/doctor-thumb-03.jpg')
                          .chat-body
                            .chat-bubble
                              .chat-content
                                span.chat-user You
                                span.chat-time 8:35 am
                                .call-details
                                  i.material-icons phone_missed
                                  .call-info
                                    .call-user-details
                                      span.call-description Jeffrey Warden missed the call
                        .chat.chat-left
                          .chat-avatar
                            a.avatar(href='profile.html')
                              img.img-fluid.rounded-circle(alt='Jennifer Robinson' src='assets/img/patient-thumb-02.jpg')
                          .chat-body
                            .chat-bubble
                              .chat-content
                                span.chat-user Jennifer Robinson
                                span.chat-time 8:35 am
                                .call-details
                                  i.material-icons call_end
                                  .call-info
                                    .call-user-details
                                      span.call-description This call has ended
                                    .call-timing
                                      | Duration: 
                                      strong 5 min 57 sec
                        .chat-line
                          span.chat-date January 29th, 2015
                        .chat.chat-left
                          .chat-avatar
                            a.avatar(href='profile.html')
                              img.img-fluid.rounded-circle(alt='Cristina Groves' src='assets/img/doctor-thumb-03.jpg')
                          .chat-body
                            .chat-bubble
                              .chat-content
                                span.chat-user You
                                span.chat-time 8:35 am
                                .call-details
                                  i.material-icons ring_volume
                                  .call-info
                                    .call-user-details
                                      a.call-description.call-description--linked(href='#' data-qa='call_attachment_link') Calling Jennifer ...
                #profile_tab.content-full.tab-pane.show.active
                  .display-table
                    .table-row
                      .table-body
                        .table-content
                          .chat-profile-img
                            .edit-profile-img
                              img(src='assets/img/doctor-03.jpg' alt='')
                              span.change-img Change Image
                            h3.user-name.m-t-10.mb-0 Cristina Groves
                            small.text-muted Gynecologist
                            a.btn.btn-primary.edit-btn(href='edit-profile.html')
                              i.fa.fa-pencil
                          .chat-profile-info
                            ul.user-det-list
                              li
                                span Username:
                                span.float-right.text-muted @cristina_groves
                              li
                                span DOB:
                                span.float-right.text-muted 3rd March
                              li
                                span Email:
                                span.float-right.text-muted cristinagroves@example.com
                              li
                                span Phone:
                                span.float-right.text-muted  770-889-6484
                          .transfer-files
                            ul.nav.nav-tabs.nav-tabs-solid.nav-justified.mb-0
                              li.nav-item
                                a.nav-link.active(href='#all_files' data-toggle='tab') All Files
                              li.nav-item
                                a.nav-link(href='#my_files' data-toggle='tab') My Files
                            .tab-content
                              #all_files.tab-pane.show.active
                                ul.files-list
                                  li
                                    .files-cont
                                      .file-type
                                        span.files-icon
                                          i.fa.fa-file-pdf-o
                                      .files-info
                                        span.file-name.text-ellipsis AHA Selfcare Mobile Application Test-Cases.xls
                                        span.file-author
                                          a(href='#') Loren Gatlin
                                        span.file-date May 31st at 6:53 PM
                                      ul.files-action
                                        li.dropdown.dropdown-action
                                          a.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
                                            i.fa.fa-ellipsis-h
                                          .dropdown-menu
                                            a.dropdown-item(href='javascript:void(0)') Download
                                            a.dropdown-item(href='#' data-toggle='modal' data-target='#share_files') Share
                              #my_files.tab-pane
                                ul.files-list
                                  li
                                    .files-cont
                                      .file-type
                                        span.files-icon
                                          i.fa.fa-file-pdf-o
                                      .files-info
                                        span.file-name.text-ellipsis AHA Selfcare Mobile Application Test-Cases.xls
                                        span.file-author
                                          a(href='#') John Doe
                                        span.file-date May 31st at 6:53 PM
                                      ul.files-action
                                        li.dropdown.dropdown-action
                                          a.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
                                            i.fa.fa-ellipsis-h
                                          .dropdown-menu
                                            a.dropdown-item(href='javascript:void(0)') Download
                                            a.dropdown-item(href='#' data-toggle='modal' data-target='#share_files') Share
      #drag_files.modal.fade(role='dialog')
        .modal-dialog.modal-lg.modal-dialog-centered
          .modal-content
            .modal-header
              h3.modal-title Drag and drop files upload
              button.close(type='button' data-dismiss='modal') &times;
            .modal-body
              form#js-upload-form
                #drop-zone.upload-drop-zone
                  i.fa.fa-cloud-upload.fa-2x
                  span.upload-text Just drag and drop files here
                h4 Uploading
                ul.upload-list
                  li.file-list
                    .upload-wrap
                      .file-name
                        i.fa.fa-photo
                        |  photo.png
                      .file-size 1.07 gb
                      button.file-close(type='button')
                        i.fa.fa-close
                    .progress.progress-xs.progress-striped
                      .progress-bar.bg-success(role='progressbar' style='width: 65%')
                    .upload-process 37% done
                  li.file-list
                    .upload-wrap
                      .file-name
                        i.fa.fa-file
                        |  task.doc
                      .file-size 5.8 kb
                      button.file-close(type='button')
                        i.fa.fa-close
                    .progress.progress-xs.progress-striped
                      .progress-bar.bg-success(role='progressbar' style='width: 65%')
                    .upload-process 37% done
                  li.file-list
                    .upload-wrap
                      .file-name
                        i.fa.fa-photo
                        |  dashboard.png
                      .file-size 2.1 mb
                      button.file-close(type='button')
                        i.fa.fa-close
                    .progress.progress-xs.progress-striped
                      .progress-bar.bg-success(role='progressbar' style='width: 65%')
                    .upload-process Completed
              .m-t-30.text-center
                button.btn.btn-primary.submit-btn Add to upload
      #add_group.modal.fade
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h3.modal-title Create a group
              button.close(type='button' data-dismiss='modal') &times;
            .modal-body
              p
                | Groups are where your team communicates. They&rsquo;re best when organized around a topic &mdash; #leads, for example.
              form
                .form-group
                  label
                    | Group Name 
                    span.text-danger *
                  input.form-control(type='text')
                .form-group
                  label
                    | Send invites to: 
                    span.text-muted-light (optional)
                  input.form-control(type='text')
                .m-t-50.text-center
                  button.btn.btn-primary.submit-btn Create Group
      #add_chat_user.modal.fade(role='dialog')
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h3.modal-title Create Chat Group
              button.close(type='button' data-dismiss='modal') &times;
            .modal-body
              .input-group.m-b-30
                input#btn-input.form-control.search-input(placeholder='Search to start a chat' type='text')
                span.input-group-append
                  button.btn.btn-primary Search
              div
                h5 Recent Conversations
                ul.chat-user-list
                  li
                    a(href='#')
                      .media
                        span.avatar.align-self-center J
                        .media-body.align-self-center.text-nowrap
                          .user-name Jeffery Lalor
                          span.designation Team Leader
                        .text-nowrap.align-self-center
                          .online-date 1 day ago
                  li
                    a(href='#')
                      .media
                        span.avatar.align-self-center B
                        .media-body.align-self-center.text-nowrap
                          .user-name Bernardo Galaviz
                          span.designation Web Developer
                        .align-self-center.text-nowrap
                          .online-date 3 days ago
                  li
                    a(href='#')
                      .media
                        span.avatar.align-self-center
                          img(src='assets/img/user.jpg' alt='John Doe')
                        .media-body.text-nowrap.align-self-center
                          .user-name John Doe
                          span.designation Web Designer
                        .align-self-center.text-nowrap
                          .online-date 7 months ago
              .m-t-50.text-center
                button.btn.btn-primary.submit-btn Create Group
      #share_files.modal.fade(role='dialog')
        .modal-dialog.modal-dialog-centered.modal-lg
          .modal-content
            .modal-header
              h3.modal-title Share File
              button.close(type='button' data-dismiss='modal') &times;
            .modal-body
              .files-share-list
                .files-cont
                  .file-type
                    span.files-icon
                      i.fa.fa-file-pdf-o
                  .files-info
                    span.file-name.text-ellipsis AHA Selfcare Mobile Application Test-Cases.xls
                    span.file-author
                      a(href='#') Bernardo Galaviz
                    span.file-date May 31st at 6:53 PM
              .form-group
                label Share With
                input.form-control(type='text')
              .m-t-50.text-center
                button.btn.btn-primary.submit-btn Share
      .notification-box
        .msg-sidebar.notifications.msg-noti
          .topnav-dropdown-header
            span Messages
          #msg_list.drop-scroll.msg-list-scroll
            ul.list-box
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar R
                    .list-body
                      span.message-author Richard Miles 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item.new-message
                    .list-left
                      span.avatar J
                    .list-body
                      span.message-author John Doe
                      span.message-time 1 Aug
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar T
                    .list-body
                      span.message-author  Tarah Shropshire 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar M
                    .list-body
                      span.message-author Mike Litorus
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar C
                    .list-body
                      span.message-author  Catherine Manseau 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar D
                    .list-body
                      span.message-author  Domenic Houston 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar B
                    .list-body
                      span.message-author  Buster Wigton 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar R
                    .list-body
                      span.message-author  Rolland Webber 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar C
                    .list-body
                      span.message-author  Claire Mapes 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar M
                    .list-body
                      span.message-author Melita Faucher
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar J
                    .list-body
                      span.message-author Jeffery Lalor
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar L
                    .list-body
                      span.message-author Loren Gatlin
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar T
                    .list-body
                      span.message-author Tarah Shropshire
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
          .topnav-dropdown-footer
            a(href='chat.html') See all messages
        .sidebar-overlay(data-reff='')
        script(src='assets/js/jquery-3.2.1.min.js')
        script(src='assets/js/popper.min.js')
        script(src='assets/js/bootstrap.min.js')
        script(src='assets/js/jquery.slimscroll.js')
        script(src='assets/js/app.js')
        // chat23:29
