extends ../../layouts/default.pug

block main
  .main-wrapper
    .page-wrapper
      .content
        .row
          .col-md-6.col-sm-6.col-lg-6.col-xl-3
            .dash-widget
              span.dash-widget-bg1
                i.fa.fa-stethoscope(aria-hidden='true')
              .dash-widget-info.text-right
                h3 98
                span.widget-title1
                  | Doctors 
                  i.fa.fa-check(aria-hidden='true')
          .col-md-6.col-sm-6.col-lg-6.col-xl-3
            .dash-widget
              span.dash-widget-bg2
                i.fa.fa-user-o
              .dash-widget-info.text-right
                h3 1072
                span.widget-title2
                  | Patients 
                  i.fa.fa-check(aria-hidden='true')
          .col-md-6.col-sm-6.col-lg-6.col-xl-3
            .dash-widget
              span.dash-widget-bg3
                i.fa.fa-user-md(aria-hidden='true')
              .dash-widget-info.text-right
                h3 72
                span.widget-title3
                  | Attend 
                  i.fa.fa-check(aria-hidden='true')
          .col-md-6.col-sm-6.col-lg-6.col-xl-3
            .dash-widget
              span.dash-widget-bg4
                i.fa.fa-heartbeat(aria-hidden='true')
              .dash-widget-info.text-right
                h3 618
                span.widget-title4
                  | Pending 
                  i.fa.fa-check(aria-hidden='true')
        .row
          .col-12.col-md-6.col-lg-6.col-xl-6
            .card
              .card-body
                .chart-title
                  h4 Patient Total
                  span.float-right
                    i.fa.fa-caret-up(aria-hidden='true')
                    |  15% Higher than Last Month
                canvas#linegraph
          .col-12.col-md-6.col-lg-6.col-xl-6
            .card
              .card-body
                .chart-title
                  h4 Patients In
                  .float-right
                    ul.chat-user-total
                      li
                        i.fa.fa-circle.current-users(aria-hidden='true')
                        | ICU
                      li
                        i.fa.fa-circle.old-users(aria-hidden='true')
                        |  OPD
                canvas#bargraph
        .row
          .col-12.col-md-6.col-lg-8.col-xl-8
            .card
              .card-header
                h4.card-title.d-inline-block Upcoming Appointments
                a.btn.btn-primary.float-right(href='appointments.html') View all
              .card-body.p-0
                .table-responsive
                  table.table.mb-0
                    thead.d-none
                      tr
                        th Patient Name
                        th Doctor Name
                        th Timing
                        th.text-right Status
                    tbody
                      tr
                        td(style='min-width: 200px;')
                          a.avatar(href='profile.html') B
                          h2
                            a(href='profile.html')
                              | Bernardo Galaviz 
                              span New York, USA
                        td
                          h5.time-title.p-0 Appointment With
                          p Dr. Cristina Groves
                        td
                          h5.time-title.p-0 Timing
                          p 7.00 PM
                        td.text-right
                          a.btn.btn-outline-primary.take-btn(href='appointments.html') Take up
                      tr
                        td(style='min-width: 200px;')
                          a.avatar(href='profile.html') B
                          h2
                            a(href='profile.html')
                              | Bernardo Galaviz 
                              span New York, USA
                        td
                          h5.time-title.p-0 Appointment With
                          p Dr. Cristina Groves
                        td
                          h5.time-title.p-0 Timing
                          p 7.00 PM
                        td.text-right
                          a.btn.btn-outline-primary.take-btn(href='appointments.html') Take up
                      tr
                        td(style='min-width: 200px;')
                          a.avatar(href='profile.html') B
                          h2
                            a(href='profile.html')
                              | Bernardo Galaviz 
                              span New York, USA
                        td
                          h5.time-title.p-0 Appointment With
                          p Dr. Cristina Groves
                        td
                          h5.time-title.p-0 Timing
                          p 7.00 PM
                        td.text-right
                          a.btn.btn-outline-primary.take-btn(href='appointments.html') Take up
                      tr
                        td(style='min-width: 200px;')
                          a.avatar(href='profile.html') B
                          h2
                            a(href='profile.html')
                              | Bernardo Galaviz 
                              span New York, USA
                        td
                          h5.time-title.p-0 Appointment With
                          p Dr. Cristina Groves
                        td
                          h5.time-title.p-0 Timing
                          p 7.00 PM
                        td.text-right
                          a.btn.btn-outline-primary.take-btn(href='appointments.html') Take up
                      tr
                        td(style='min-width: 200px;')
                          a.avatar(href='profile.html') B
                          h2
                            a(href='profile.html')
                              | Bernardo Galaviz 
                              span New York, USA
                        td
                          h5.time-title.p-0 Appointment With
                          p Dr. Cristina Groves
                        td
                          h5.time-title.p-0 Timing
                          p 7.00 PM
                        td.text-right
                          a.btn.btn-outline-primary.take-btn(href='appointments.html') Take up
          .col-12.col-md-6.col-lg-4.col-xl-4
            .card.member-panel
              .card-header.bg-white
                h4.card-title.mb-0 Doctors
              .card-body
                ul.contact-list
                  li
                    .contact-cont
                      .float-left.user-img.m-r-10
                        a(href='profile.html' title='John Doe')
                          img.w-40.rounded-circle(src='/assets/img/user.jpg' alt='')
                          span.status.online
                      .contact-info
                        span.contact-name.text-ellipsis John Doe
                        span.contact-date MBBS, MD
                  li
                    .contact-cont
                      .float-left.user-img.m-r-10
                        a(href='profile.html' title='Richard Miles')
                          img.w-40.rounded-circle(src='/assets/img/user.jpg' alt='')
                          span.status.offline
                      .contact-info
                        span.contact-name.text-ellipsis Richard Miles
                        span.contact-date MD
                  li
                    .contact-cont
                      .float-left.user-img.m-r-10
                        a(href='profile.html' title='John Doe')
                          img.w-40.rounded-circle(src='/assets/img/user.jpg' alt='')
                          span.status.away
                      .contact-info
                        span.contact-name.text-ellipsis John Doe
                        span.contact-date BMBS
                  li
                    .contact-cont
                      .float-left.user-img.m-r-10
                        a(href='profile.html' title='Richard Miles')
                          img.w-40.rounded-circle(src='/assets/img/user.jpg' alt='')
                          span.status.online
                      .contact-info
                        span.contact-name.text-ellipsis Richard Miles
                        span.contact-date MS, MD
                  li
                    .contact-cont
                      .float-left.user-img.m-r-10
                        a(href='profile.html' title='John Doe')
                          img.w-40.rounded-circle(src='/assets/img/user.jpg' alt='')
                          span.status.offline
                      .contact-info
                        span.contact-name.text-ellipsis John Doe
                        span.contact-date MBBS
                  li
                    .contact-cont
                      .float-left.user-img.m-r-10
                        a(href='profile.html' title='Richard Miles')
                          img.w-40.rounded-circle(src='/assets/img/user.jpg' alt='')
                          span.status.away
                      .contact-info
                        span.contact-name.text-ellipsis Richard Miles
                        span.contact-date MBBS, MD
              .card-footer.text-center.bg-white
                a.text-muted(href='doctors.html') View all Doctors
        .row
          .col-12.col-md-6.col-lg-8.col-xl-8
            .card
              .card-header
                h4.card-title.d-inline-block New Patients 
                a.btn.btn-primary.float-right(href='patients.html') View all
              .card-block
                .table-responsive
                  table.table.mb-0.new-patient-table
                    tbody
                      tr
                        td
                          img.rounded-circle(width='28' height='28' src='/assets/img/user.jpg' alt='')
                          h2 John Doe
                        td Johndoe21@gmail.com
                        td +1-202-555-0125
                        td
                          button.btn.btn-primary.btn-primary-one.float-right Fever
                      tr
                        td
                          img.rounded-circle(width='28' height='28' src='/assets/img/user.jpg' alt='')
                          h2 Richard
                        td Richard123@yahoo.com
                        td 202-555-0127
                        td
                          button.btn.btn-primary.btn-primary-two.float-right Cancer
                      tr
                        td
                          img.rounded-circle(width='28' height='28' src='/assets/img/user.jpg' alt='')
                          h2 Villiam
                        td Richard123@yahoo.com
                        td +1-202-555-0106
                        td
                          button.btn.btn-primary.btn-primary-three.float-right Eye
                      tr
                        td
                          img.rounded-circle(width='28' height='28' src='/assets/img/user.jpg' alt='')
                          h2 Martin
                        td Richard123@yahoo.com
                        td 776-2323 89562015
                        td
                          button.btn.btn-primary.btn-primary-four.float-right Fever
          .col-12.col-md-6.col-lg-4.col-xl-4
            .hospital-barchart
              h4.card-title.d-inline-block Hospital Management
            .bar-chart
              .legend
                .item
                  h4 Level1
                .item
                  h4 Level2
                .item.text-right
                  h4 Level3
                .item.text-right
                  h4 Level4
              .chart.clearfix
                .item
                  .bar
                    span.percent 16%
                    .item-progress(data-percent='16')
                      span.title OPD Patient
                .item
                  .bar
                    span.percent 71%
                    .item-progress(data-percent='71')
                      span.title New Patient
                .item
                  .bar
                    span.percent 82%
                    .item-progress(data-percent='82')
                      span.title Laboratory Test
                .item
                  .bar
                    span.percent 67%
                    .item-progress(data-percent='67')
                      span.title Treatment
                .item
                  .bar
                    span.percent 30%
                    .item-progress(data-percent='30')
                      span.title Discharge
      .notification-box
        .msg-sidebar.notifications.msg-noti
          .topnav-dropdown-header
            span Messages
          #msg_list.drop-scroll.msg-list-scroll
            ul.list-box
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar R
                    .list-body
                      span.message-author Richard Miles 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item.new-message
                    .list-left
                      span.avatar J
                    .list-body
                      span.message-author John Doe
                      span.message-time 1 Aug
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar T
                    .list-body
                      span.message-author  Tarah Shropshire 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar M
                    .list-body
                      span.message-author Mike Litorus
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar C
                    .list-body
                      span.message-author  Catherine Manseau 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar D
                    .list-body
                      span.message-author  Domenic Houston 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar B
                    .list-body
                      span.message-author  Buster Wigton 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar R
                    .list-body
                      span.message-author  Rolland Webber 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar C
                    .list-body
                      span.message-author  Claire Mapes 
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar M
                    .list-body
                      span.message-author Melita Faucher
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar J
                    .list-body
                      span.message-author Jeffery Lalor
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar L
                    .list-body
                      span.message-author Loren Gatlin
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
              li
                a(href='chat.html')
                  .list-item
                    .list-left
                      span.avatar T
                    .list-body
                      span.message-author Tarah Shropshire
                      span.message-time 12:28 AM
                      .clearfix
                      span.message-content Lorem ipsum dolor sit amet, consectetur adipiscing
          .topnav-dropdown-footer
            a(href='chat.html') See all messages
  .sidebar-overlay(data-reff='')
