
.header
    .header-left
      a.logo(href='index-2.html')
        img(src='assets/img/logo.png' width='35' height='35' alt='')
        span Preclinic
    a#toggle_btn(href='javascript:void(0);')
      i.fa.fa-bars
    a#mobile_btn.mobile_btn.float-left(href='#sidebar')
      i.fa.fa-bars
    ul.nav.user-menu.float-right
      li.nav-item.dropdown.d-none.d-sm-block
        a.dropdown-toggle.nav-link(href='#' data-toggle='dropdown')
          i.fa.fa-bell-o
          span.badge.badge-pill.bg-danger.float-right 3
        .dropdown-menu.notifications
          .topnav-dropdown-header
            span Notifications
          .drop-scroll
            ul.notification-list
              li.notification-message
                a(href='activities.html')
                  .media
                    span.avatar
                      img.img-fluid(alt='John Doe' src='assets/img/user.jpg')
                    .media-body
                      p.noti-details
                        span.noti-title John Doe
                        |  added new task 
                        span.noti-title Patient appointment booking
                      p.noti-time
                        span.notification-time 4 mins ago
              li.notification-message
                a(href='activities.html')
                  .media
                    span.avatar V
                    .media-body
                      p.noti-details
                        span.noti-title Tarah Shropshire
                        |  changed the task name 
                        span.noti-title Appointment booking with payment gateway
                      p.noti-time
                        span.notification-time 6 mins ago
              li.notification-message
                a(href='activities.html')
                  .media
                    span.avatar L
                    .media-body
                      p.noti-details
                        span.noti-title Misty Tison
                        |  added 
                        span.noti-title Domenic Houston
                        |  and 
                        span.noti-title Claire Mapes
                        |  to project 
                        span.noti-title Doctor available module
                      p.noti-time
                        span.notification-time 8 mins ago
              li.notification-message
                a(href='activities.html')
                  .media
                    span.avatar G
                    .media-body
                      p.noti-details
                        span.noti-title Rolland Webber
                        |  completed task 
                        span.noti-title Patient and Doctor video conferencing
                      p.noti-time
                        span.notification-time 12 mins ago
              li.notification-message
                a(href='activities.html')
                  .media
                    span.avatar V
                    .media-body
                      p.noti-details
                        span.noti-title Bernardo Galaviz
                        |  added new task 
                        span.noti-title Private chat module
                      p.noti-time
                        span.notification-time 2 days ago
          .topnav-dropdown-footer
            a(href='activities.html') View all Notifications
      li.nav-item.dropdown.d-none.d-sm-block
        a#open_msg_box.hasnotifications.nav-link(href='javascript:void(0);')
          i.fa.fa-comment-o
          span.badge.badge-pill.bg-danger.float-right 8
      li.nav-item.dropdown.has-arrow
        a.dropdown-toggle.nav-link.user-link(href='#' data-toggle='dropdown')
          span.user-img
            img.rounded-circle(src='assets/img/user.jpg' width='24' alt='Admin')
            span.status.online
          span Admin
        .dropdown-menu
          a.dropdown-item(href='profile.html') My Profile
          a.dropdown-item(href='edit-profile.html') Edit Profile
          a.dropdown-item(href='settings.html') Settings
          a.dropdown-item(href='login.html') Logout
    .dropdown.mobile-user-menu.float-right
      a.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
        i.fa.fa-ellipsis-v
      .dropdown-menu.dropdown-menu-right
        a.dropdown-item(href='profile.html') My Profile
        a.dropdown-item(href='edit-profile.html') Edit Profile
        a.dropdown-item(href='settings.html') Settings