#sidebar.sidebar
      .sidebar-inner.slimscroll
        #sidebar-menu.sidebar-menu
          ul
            li.menu-title Main
            li.active
              a(href='/admin/dashboard')
                i.fa.fa-dashboard
                span Dashboard
            li
              a(href='/admin/doctor')
                i.fa.fa-user-md
                span Doctors
            li
              a(href='/admin/patient')
                i.fa.fa-wheelchair
                span Patients
            li
              a(href='/admin/appointment')
                i.fa.fa-calendar
                span Appointments
            li
              a(href=`/${prefixAdmin}/doctor/schedule`)
                i.fa.fa-calendar-check-o
                span Doctor Schedule
            li
              a(href='/admin/medicine')
                i.fa.fa-hospital-o
                span Medicines
            li.submenu
              a(href='#')
                i.fa.fa-user
                span  Employees 
                span.menu-arrow
              ul(style='display: none;')
                li
                  a(href='employees.html') Employees List
                li
                  a(href='leaves.html') Leaves
                li
                  a(href='holidays.html') Holidays
                li
                  a(href='attendance.html') Attendance
            li.submenu
              a(href='#')
                i.fa.fa-money
                span  Accounts 
                span.menu-arrow
              ul(style='display: none;')
                li
                  a(href='invoices.html') Invoices
                li
                  a(href='payments.html') Payments
                li
                  a(href='expenses.html') Expenses
                li
                  a(href='taxes.html') Taxes
                li
                  a(href='provident-fund.html') Provident Fund
            li.submenu
              a(href='#')
                i.fa.fa-book
                span  Payroll 
                span.menu-arrow
              ul(style='display: none;')
                li
                  a(href='salary.html')  Employee Salary 
                li
                  a(href='salary-view.html')  Payslip 
            li
              a(href='/admin/chat')
                i.fa.fa-comments
                span Chat
                span.badge.badge-pill.bg-primary.float-right 5
            //- li.submenu
            //-   a(href='#')
            //-     i.fa.fa-video-camera.camera
            //-     span  Calls
            //-     span.menu-arrow
            //-   ul(style='display: none;')
            //-     li
            //-       a(href='voice-call.html') Voice Call
            //-     li
            //-       a(href='video-call.html') Video Call
            //-     li
            //-       a(href='incoming-call.html') Incoming Call
            //- li.submenu
            //-   a(href='#')
            //-     i.fa.fa-envelope
            //-     span  Email
            //-     span.menu-arrow
            //-   ul(style='display: none;')
            //-     li
            //-       a(href='compose.html') Compose Mail
            //-     li
            //-       a(href='inbox.html') Inbox
            //-     li
            //-       a(href='mail-view.html') Mail View
            li.submenu
              a(href='#')
                i.fa.fa-commenting-o
                span  Blog
                span.menu-arrow
              ul(style='display: none;')
                li
                  a(href='/admin/blog') Blog
                li
                  a(href=`/${prefixAdmin}/blog/add`) Add Blog
                li
                  a(href=`/${prefixAdmin}/blog/edit`) Edit Blog
            //- li
            //-   a(href='/assets.html')
            //-     i.fa.fa-cube
            //-     span /assets
            li
              a(href='activities.html')
                i.fa.fa-bell-o
                span Activities
            li.submenu
              a(href='#')
                i.fa.fa-flag-o
                span  Reports 
                span.menu-arrow
              ul(style='display: none;')
                li
                  a(href='expense-reports.html')  Expense Report 
                li
                  a(href='invoice-reports.html')  Invoice Report 
            li
              a(href='/admin/setting')
                i.fa.fa-cog
                span Settings
           
            